
// Apparition des éléments

.reveal-loaded .reveal [class*='reveal-'] ,
.reveal-loaded .reveal-start [class*='reveal-'] {
    opacity: 0;
    transform: translateY(50px);
    transition-delay: 0;
    transition: 0s;
  }
  
  .reveal-loaded .revealx [class*='reveal-'] {
    opacity: 0;
    transform: translateX(50px);
    line-height: 3rem;
  }
  
  .reveal-loaded [class*='reveal'] {
   // transition: 1s cubic-bezier(0.5, 0, 0, 1);
   transition: opacity .8s, transform .8s ;
  }
  
  .reveal-loaded {
    .reveal-1 {
      transition-delay: 0.2s;
    }
  
    .reveal-2 {
      transition-delay: 0.4s;
    }
  
    .reveal-3 {
      transition-delay: 0.6s;
    }
  
    .reveal-4 {
      transition-delay: 0.8s;
    }
  
    .reveal-5 {
      transition-delay: 1s;
    }
  
    .reveal-6 {
      transition-delay: 1.2s;
    }

    .reveal-7 {
        transition-delay: 1.4s;
      }

      .reveal-8 {
        transition-delay: 1.6s;
      }
      .reveal-9 {
        transition-delay: 1.8s;
      }
      .reveal-10 {
        transition-delay: 2s;
      }

      .reveal-11 {
        transition-delay: 2.2s;
      }
      .reveal-12 {
        transition-delay: 2.4s;
      }
      .reveal-13 {
        transition-delay: 2.6s;
      }
      .reveal-14 {
        transition-delay: 2.8s;
      }
  }

