.card {
  filter: drop-shadow(1px 5px 8px rgba(0, 0, 0, 0.2));
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
  border-radius: 0.8rem;
  overflow: hidden;
  margin-bottom: 3.2rem;
  transition: all 0.3s;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.5);
    .card-header {
      background-color: white;
    }
    .card-conteneur .btn-xs {
      background-image: url(../images/ico-fleche-blanche.svg) !important;
    }
  }

  .card-header {
    padding: 2rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    flex-shrink: 0;
    min-height: 19.8rem;
    background-color: var(--marron1);
    color: var(--texte);
    transition: all 0.3s;

    @include media-breakpoint-down(md) {
      .col-4 {
        padding:0 !important;
      }
    }

    @include media-breakpoint-up(md) {
      padding: 2.4rem 3.2rem 1.6rem 3.2rem;
      .texte-l {
        height: 10rem;
      }
  
      .card-header--accroche {
        min-height: 6rem;
      }

      img {
        width:auto;
      }
    }

    img {
      width:7rem; 
    }
   
  }

  &.card-expertise {
    .texte-l {
      height: auto;
    }

    .card-header {
      text-align: center;
      color: white;
      padding: 2.4rem 4rem;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-shrink: 0;
      min-height: 21.7155rem;
    }
  }
  &.card-formation-animations {
    .card-header {
      background-color: var(--form) !important;
    }
    &:hover {
      .btn-xs {
        background-color: var(--form) !important;
        background-image: url(../images/ico-fleche-blanche.svg);
      }
    }
  }
  &.card-bureau-detudes {
    .card-header {
      background-color: var(--be) !important;
    }
    &:hover {
      .btn-xs {
        background-color: var(--be) !important;
        background-image: url(../images/ico-fleche-blanche.svg);
      }
    }
  }

  &.card-compostage-de-proximite {
    .card-header {
      background-color: var(--prox) !important;
    }
    &:hover {
      .btn-xs {
        background-color: var(--prox) !important;
        background-image: url(../images/ico-fleche-blanche.svg);
      }
    }
  }

  .card-conteneur {
    position: relative;

    background-position: center;
    background-size: cover;

    aspect-ratio: 37.5/20;

    .btn-xs {
      position: absolute;
      right: 2.4rem;
      bottom: 2.4rem;
      width: 3rem;
      height: 3rem;
      z-index: 15;
      border-radius: 3rem;
      background-color: white;
      transition: all 0.3s;
      background-image: url(../images/ico-fleche-noire.svg);
      background-position: center;
      background-repeat: no-repeat;

      @include media-breakpoint-down(md) {
        right: calc(50% - 1.2rem);
      }
    }
  }
  &.card-expertise {
    .card-header {
      @include media-breakpoint-down(md) {
        padding-bottom: 8rem;
      }
    }

    .card-conteneur {
      aspect-ratio: 0;
      @include media-breakpoint-up(lg) {
        aspect-ratio: 37.6/25.8;
      }
    }
  }
}

.card-cibles {
  padding: 1.6rem 0 0 0;
  border-radius: 0.8rem;
  border: 8px solid white;
  background: var(--marron1);
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.29);

  @include media-breakpoint-up(lg) {
    padding: 2.4rem 0 0rem 0;
  }

  .texte-m {
    margin-left: 1.2rem;
    @include media-breakpoint-up(md) {
      margin-left: 4rem;
    }
  }
}

.card-accompagne {
  background-color: var(--be);
  background-image: url('../images/fd-accompagne.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  padding: 2.4rem;

  border-radius: 0.8rem;
  color: white;
  margin-bottom: 3.2rem;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;

  position: relative;

  @include media-breakpoint-up(md) {
    min-height: 28.2rem;
  }
  .card-accompagne--nbr {
    color: var(--vert);
    margin-bottom: 1rem !important;
  }

  @include media-breakpoint-up(md) {
    &.card-accompagne--3 {
      margin-top: 15.8rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.card-accompagne-image {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-image: url(../images/photo-accompagne.jpg);
    }
  }
}

body.compostage-de-proximite {
  .card-accompagne {
    background-color: var(--prox);
  }
}

.card-formation {
  background-color: #eae7e4;
  background-image: url(../images/fd-formation.svg);
  background-size: cover;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.2);

  aspect-ratio: 27.3/33.8;
  color: var(--texte);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;

  a {
    color: var(--texte);
  }

  &:hover {
    background-color: white;
  }

  .titre-m {
    padding: 0 3.2rem;
    em {
      font-style: normal;
      font-size: 2rem;
      line-height: normal;
    }
  }

  .card-formation--detail {
    padding: 0 3.2rem 4rem 3.2rem;

    .tag {
      margin-left: 0;
    }
    .formation-certifiante {
      @include media-breakpoint-down(md) {
        line-height: 2.9rem !important;
      }
    }
  }
}

.formation-certifiante {
  color: var(--be);
  display: block;
  font-weight: bold;
  height: 2.7rem;
  background-image: url(../images/ico-certifiant.svg);
  background-repeat: no-repeat;
  margin-top:0.8rem;
  padding-left: 2.4rem;

  @include media-breakpoint-up(md) {
    display: inline-block;
   
    line-height: 2.7rem !important;
    margin-top:0rem;
  }
}
.conteneur-menu {
  .formation-certifiante {
    background-image: url(../images/ico-certifiant-2.svg);
  }
}
.card-formation--type {
  width: 100%;
  padding-bottom: 1.6rem;
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
  @include media-breakpoint-up(md) {

    padding-bottom: 3rem;

  
  }

  > div {
    padding: 1.4rem 3.2rem;
    width: 14.1417rem;
    height: 4.5133rem;
    border-radius: 0rem 0rem 0rem 1.6rem;
    font-weight: bold;
    @extend .texte-s;
    color: white;
  }
  .card-formation--type--formation {
    background: var(--cat-formation, #a13202);

    font-weight: bold;
  }

  .card-formation--type--animation {
    background: var(--cat-animation, #c36900);
  }
}

.card-formateur {
  border-radius: 8rem 0.8rem 0.8rem 8rem;
  background-color: white;
  box-shadow: 1px 5px 8px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding-right: 1.6rem;
  width: 100%;
  margin-bottom: calc(3.2rem / 2);
  margin-top: calc(3.2rem / 2);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;

  .titre-s {
    color: var(--form);
  }

  .card-formateur--portrait {
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: 10rem;
    margin-right: 1rem;
    border: 0.8rem solid white;
    //box-shadow:inset 0px 0px 0px 0.8rem #fff;

    @include media-breakpoint-up(md) {
      height: 16rem;
    }
  }

  .card-formateur--nom {
    order: 1;
    flex: 1 1 auto;
    align-self: auto;
  }
}

body.bureau-detudes {
  .card {
    .texte-l,
    .texte-s {
      color: var(--be) !important;
    }
    &:hover {
      .btn-xs {
        background-color: var(--be) !important;
      }
    }
  }
}

body.compostage-de-proximite {
  .card {
    .texte-l,
    .texte-s {
      color: var(--prox) !important;
    }

    &:hover {
      .btn-xs {
        background-color: var(--prox) !important;
      }
    }
  }
}

.card-profile {
  width: 100%;
  background-color: var(--vert);
  @extend .texte-l;
  font-weight: 600 !important;
  text-align: center;
  aspect-ratio: 20/6;
  padding: 1.2rem 2rem;
  flex: 1 0 0;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  transition: all 0.3s;
  margin-bottom: 0.8rem !important;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    margin-bottom: 1.6rem !important;
    aspect-ratio: 20/10;
  }
  &:hover,
  .is-active {
    color: white !important;
    background-color: var(--be);
  }
}
