footer {
  background-image: url(../images/fd-footer.png);
  background-repeat: repeat-x;
  background-position: top center;
  padding-top: 13.5rem;
  margin-top: 5rem;
  padding-bottom: 3rem;
  color: white;

  a {
    color: white;
  }

  .row-footer {
    padding-bottom: 8rem;
  }

  .row-copyright {
    text-align: center;
  }
}
