.header-fond {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 124.1rem;
  background: linear-gradient(180deg, #00506A 65.15%, rgba(109, 150, 163, 0.80) 79.24%, rgba(234, 231, 228, 0.00) 88.64%);
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;

  @include media-breakpoint-up (md) {
    height: 271.1rem;
    background-image: linear-gradient(
      180deg,
      #00506a 38.01%,
      rgba(109, 150, 163, 0.8) 52.63%,
      rgba(234, 231, 228, 0) 62.38%
    );
  }

  .header-fond--image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/img-home.png');
    background-position: top center;
   
    background-repeat: no-repeat;

    @include media-breakpoint-up (md) {
      background-size: contain;
    }
  
  }

  .header-fond--logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url('../images/fd-dm-header.svg');
    background-position: top center;
    background-size: 105rem;
    background-repeat: no-repeat;
    
    @include media-breakpoint-up (md) {
      background-size: 2500px;
      top: 0;
    }
  }

  .header-fond--logo-home {
    
    height:100vh;
    position: relative;

    svg {
      height: 60rem;
      @include media-breakpoint-up (md) {
        height: 110rem;
      }
position: absolute;
left: 50%;
transform: translateX(-50%);
    }
  }
}



body.page-template-expertise,
body.bureau-detudes,
body.compostage-de-proximite ,
body.formations-animations  {
  .header-fond {
    .header-fond--image {
      display: none;
    }
  }
}

body.page-contenu:not(.qui-sommes-nous) {
  .header-fond {
    height: 170rem;
  }
  p , .container-page {
    @extend .texte-m;
  }

  .container-page {
    margin-top:3.3rem;
padding-bottom:6rem;
    > .row-page-contenu {border-radius: 0.8rem;}
  }

  .zone-contact {
    margin-top:6rem;
  }

  .header-fond--image  {
    display: none;
  }
  .header-fond--logo {
    height: 60%;
  }

  .container-page {
    .col-12 {

      @include media-breakpoint-up(md) {
        padding-right:calc( var(--gutter) * 4 )!important;
padding-left:calc( var(--gutter) * 4 )!important;
      }
    }
  }

}


body.bureau-detudes {
  .header-fond {
    background: linear-gradient(180deg, #00506A 35.33%, rgba(0, 80, 106, 0.70) 61.2%, rgba(234, 231, 228, 0.00) 100%);
    height: 120rem;
    .header-fond--logo {
      background-image: url('../images/fd-dm-be.svg');
    }
  }
}

body.compostage-de-proximite  {
  .header-fond {
    background: linear-gradient(180deg, #01743D 35.33%, rgba(1, 116, 61, 0.70) 61.2%, rgba(234, 231, 228, 0.00) 100%);
    height: 120rem;
    .header-fond--logo {
      background-image: url('../images/fd-dm-prox.svg');
    }
  }
}

body.qui-sommes-nous{
  .header-fond {
    background: linear-gradient(180deg, #00506A 23.63%, rgba(0, 80, 106, 0.90) 53.64%, rgba(116, 155, 166, 0.55) 69.43%, rgba(234, 231, 228, 0.00) 97.07%);
    height: 274.3rem;
    .header-fond--logo {
      background-image: url('../images/fd-dm-qui.svg');
    }
    .header-fond--image {
      background-image: url('../images/fd-qui.png'); 
    }
    
  }
}

body.page-template-cible {
  .header-fond {
    height: 218.6rem;
  }
}

.logo {
  background-image: url(../images/logo-mobile.svg);
  background-repeat: no-repeat;
  width:24rem;
  height:5.4rem;
  margin-left:2rem;
  background-size: contain;
  @include media-breakpoint-up(md) {
    background-image: url(../images/logo.svg);
    margin-left:4rem;
    width:24rem;
    height:9.3rem;
  }

}