body {
  background-image: url('../images/fd-papier.jpg');
  background-repeat: repeat;
  overflow-x: hidden;
  &.bureau-detudes {
    .couleur {
      color: var(--be) !important;
    }
  }

  &.compostage-de-proximite {
    .couleur {
      color: var(--prox) !important;
    }
  }

  &.formation {
    .couleur {
      color: var(--form) !important;
    }
  }
}

.couleur-be {
  color: var(--be) !important;
}
main {
  overflow-x: hidden;
}

@media (min-width: 991px) and (max-width: 1400px) {
  .container.container-large {
    // width: 100% !important;
    max-width: 191rem !important;
    padding-left: calc(var(--margin) / 2.5) !important;
    padding-right: calc(var(--margin) / 2.5) !important;

    // .row {
    //   margin-right: calc(-1 * var(--gutter)) !important;
    //   margin-left: calc(-1 * var(--gutter)) !important;
    //   .col,
    //   [class*='col-'] {
    //     padding-right: var(--gutter) !important;
    //     padding-left: var(--gutter) !important;
    //   }
    // }
  }
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.container {
  position: relative;
  z-index: 10;
}

.container-accueil-expertise {
  .titre-xl {
    color: white;
    text-align: center;
  }

  .col-lg-4 {
    &:nth-child(3) {
      @include media-breakpoint-up(lg) {
        margin-top: 5rem;
      }
    }
  }
}

.container-accueil {
  margin-top: 2rem;
  margin-bottom: 7.3em;

  @include media-breakpoint-up(md) {
    margin-bottom: 31rem;
    margin-top: 19rem;
  }

  .titre-l {
    color: var(--vert);
    strong {
      color: white !important;
    }
  }
  .card-cibles {
    margin-top: 4.7rem;

    @include media-breakpoint-up(md) {
      margin-top: 14.7rem;
    }
  }
}

.container-chemin {
  margin-top: 2rem;

  @include media-breakpoint-down(md) {
    span {
      font-size: 1.1rem !important;
      line-height: 0.2rem;
    }
    margin-bottom: 1rem;
  }
  @include media-breakpoint-up(md) {
    margin-top: 8.2rem;
    margin-bottom: 0;
  }
  color: var(--vert);
  @extend .texte-s;
  a {
    color: var(--vert);
  }
  .breadcrumb_last {
    color: white;
  }
  .col {
    text-align: center;
  }
}

.container-expertise {
  padding: 1rem 0 3.4rem 0;
  @include media-breakpoint-down(md) {
    .titre-xxl {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-up(md) {
    padding: 6rem 0 8rem 0;
  }
  text-align: center;
  color: white;
}

.container-expertise--services {
  margin-bottom: 8rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 16rem;
  }

  @include media-breakpoint-up(lg) {
    > .row > .col {
      &:nth-child(odd) {
        @include make-col-offset(2, 12);
      }
    }
  }
}

.container-page {
  .row-intro-service {
    @include media-breakpoint-down(md) {
      padding-bottom: 2rem;
    }
  }

  .align-center {
    a {
      color: var(--texte) !important;
      text-decoration: underline !important;
    }
  }
  .titre-xxl {
    text-align: left;
    color: var(--texte);
    margin-top: 4rem;
    margin-bottom: 4rem;
    @include media-breakpoint-up(md) {
      margin-top: 12rem;
      margin-bottom: 8rem;
    }
  }
}

.container-page > .row {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(102, 102, 102, 0) 62.97%
  );
  background-image: url('../images/fd-papier.jpg');

  &:first-child {
    padding-top: 2.4rem;
    @include media-breakpoint-up(md) {
      padding-top: 4.8rem;
    }
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
  }
}

.service-icone {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.6rem;

  @include media-breakpoint-up(md) {
    width: 14rem;
    height: 14rem;
  }
}

.image-contenu {
  //width: 47.8rem;
  //height: 47.8rem;
  aspect-ratio: 47.8/47.8;
  background-position: center;
  background-size: cover;
  border-radius: 0.8rem;
  position: relative;
  overflow: hidden;

  margin-bottom: 2.4rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.filtre {
  background: var(--filtre-photos);
  opacity: 0.5;
  mix-blend-mode: overlay;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.row-contenu {
  padding: 4rem 0 4rem 0;

  .row-contenu--texte {
    ul {
      list-style-image: url('../images/ico-puce.svg');
    }
    li {
      margin-bottom: 1.6rem;
      padding-left: 0.5rem;
    }

    a:not(.btn) {
      text-decoration: underline;
      color: var(--texte);
    }
  }

  .row-contenu--texte {
    order: 1;
  }
  .row-contenu--image {
    order: 0;
  }

  @include media-breakpoint-up(lg) {
    &:nth-child(odd) {
      .row-contenu--texte {
        order: 0;
        @include make-col-offset(1, 12);

        > * {
          margin-right: 4rem;
        }
      }
      .row-contenu--image {
        order: 1;
      }
    }
    &:nth-child(even) {
      .row-contenu--texte {
        order: 1;
        > * {
          margin-left: 4rem;
        }
      }
      .row-contenu--image {
        order: 0;

        @include make-col-offset(1, 12);
      }
    }
  }
}

.row-accompagne {
  .titre-xl {
    text-align: center;
    @include media-breakpoint-up(md) {
      margin: 0 4.9rem 2.3rem 0;
      text-align: right;
    }
  }
}

.container-chiffres {
  padding: 5rem 0 1rem 0;

  background-position: center;
  background-repeat: no-repeat;

  @include media-breakpoint-up(md) {
    background-image: url('../images/fd-chiffres.svg') !important;
  }
}
.row-chiffres {
  color: var(--be);
  padding: 7rem 0 6rem 0;
  margin-bottom: 8rem;
  .chiffre,
  .texte-m {
    color: var(--vert);
  }
  .col-quart {
    text-align: center;
  }

  display: none;
  &.row-chiffres-mobile {
    display: block;
  }

  @include media-breakpoint-up(lg) {
    display: block;
    &.row-chiffres-mobile {
      display: none;
    }
  }
  .splide__pagination {
    bottom: -3rem;
    .splide__pagination__page {
      width: 1.2rem;
      height: 1.2rem;
      background-color: #c5bdb4;
      &.is-active {
        transform: scale(1);
        background-color: #3f2204;
      }
    }
  }
}

.col-quart {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(12);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(1, 4);
  }
}

.col-demi {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(12);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(1, 2);
  }
}

.row-realisations {
  position: relative;
  .titre-xl {
    margin-bottom: 4.2rem;
  }
}

.zone-logos {
  color: #1a2569;
  a {
    color: #1a2569;
    font-weight: 700;
  }
   .col-12 {
    //text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    @include media-breakpoint-up(md) {
      flex-wrap: nowrap;
    }
  }
  img {
   
    max-height: 10rem;
    max-width: 14rem;
    padding:0 1rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 1.6rem;
      max-height: 8rem;
    max-width: 10rem;
    }
  }

  @include media-breakpoint-down(md) {
    .container {
      padding: 0 2.4rem !important;
    }
  }

  .col-qualiopi {
    text-align: left !important;
    //  @include media-breakpoint-up(md) {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    div,img {
      display:block;
    }
    //  }
  }

  .texte-xs {
    padding-left: 1rem;
  }
}

.zone-contenus {
  margin-bottom: 6rem;
  @include media-breakpoint-up(md) {
    margin-bottom: 16rem;
  }
}

@include media-breakpoint-up(md) {
  .marge-6 {
    padding-left: 6rem !important;
  }
}

.row-chiffres-mobile {
  background-image: url('../images/fd-chiffres-mobile.svg') !important;
  background-size: 100% 100%;
  padding-top: 3rem;
  .texte-xxl {
    font-size: 1.8rem;
  }
}

.row-chiffres.quelques-chiffres {
  padding: 5rem 0 8rem 0;

  background-size: 100% 100%;
  @include media-breakpoint-up(md) {
    background-image: url('../images/fd-chiffres.svg') !important;
  }

  .texte-xxl {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 800;
  }

  .chiffre {
    color: var(--vert);
    text-align: center;
    line-height: normal;
  }
  .titre-s {
    text-align: center;
    font-weight: 300;
  }
}

body.formations-animations {
  .row-chiffres.quelques-chiffres {
    .texte-xxl {
      color: var(--form);
    }

    .chiffre {
      color: var(--vert);
    }
    .titre-s {
      color: var(--form);
    }
  }
}

.picto {
  margin: calc(5.2rem / 2) 0;
  .picto-image {
    width: 11.2rem;
    height: 11.2rem;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

    &.picto-formation-1 {
      background-image: url(../images/ico-formation1.svg);
    }
    &.picto-formation-2 {
      background-image: url(../images/ico-formation2.svg);
    }
    &.picto-formation-3 {
      background-image: url(../images/ico-formation3.svg);
    }
    &.picto-formation-4 {
      background-image: url(../images/ico-formation4.svg);
    }

    &.picto-home-1 {
      background-image: url(../images/ico-home-1.svg);
    }
    &.picto-home-2 {
      background-image: url(../images/ico-home-2.svg);
    }
    &.picto-home-3 {
      background-image: url(../images/ico-home-3.svg);
    }
    &.picto-home-4 {
      background-image: url(../images/ico-home-4.svg);
    }
  }

  .picto-texte {
    margin-top: 0.5rem;
    height: 8.4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.col-reference {
  @include make-col(2, 4);

  @include media-breakpoint-up(md) {
    @include make-col(1, 4);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(2, 10);
  }

  opacity: 0.3;
  transition: all 0.3s;

  &.is-active {
    opacity: 1;
  }
  .reference {
    border-radius: 0.8rem;
    background: #fff;
    aspect-ratio: 1/1;
    margin-bottom: 3.2rem;
    // display: grid;
    // align-items: center;
    // justify-content: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    img {
      max-width: 11.9227rem;
      max-height: 11.9227rem;
      padding:1rem;
    }
  }
}


.container.container-tags-mobile  {
  padding-right:0 !important;
  padding-left:0 !important;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  ::-webkit-scrollbar {
    display: none;
  }
  

  .row-references-categories {
    margin-right: 0 !important;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  padding-left:2rem;
    ::-webkit-scrollbar {
      display: none;
    }

    
    .col {

      width: auto;
      overflow-y: scroll;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
    }

    .tag {
      white-space: nowrap;
    }
  }
}
.row-references-categories {
  margin-top: 2.4rem;
}

.container-references .row {
  overflow: hidden;
  padding-top: 4 !important;
  padding-bottom: calc(8rem - 3.2rem);

  @include media-breakpoint-up(md) {
    padding-top: 8rem;
  }
}

.conteneur-vague {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 10px;
  .vague {
    position: absolute;
    width: 270rem;
    height: 125rem;
    pointer-events: none;
    background-image: url(../images/fd-vague.svg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0);
    z-index: 0;
  }
}

.row-intro-service {
  padding-bottom: 4rem;

  + .row-contenu {
    background-size: 100% 75%;
    background-repeat: repeat-x;

    + .row-contenu {
      background-size: 100% 75%;
      background-repeat: repeat-x;
    }
  }
}

@include media-breakpoint-down(md) {
  body.home {
    .container.zone-contenus {
      .titre-xl {
        text-align: center;
      }
    }
  }
}
