nav {
  position: relative;
  z-index: 50;

  .menu-principal,
  .menu-secondaire {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      padding-left: 6rem;
      list-style: none;
      a {
        color: white;
      }
    }
  }

  .menu-principal {
    height: 13.3rem;
    .menu-conteneur {
      margin-right: 4rem;
    }
  }
  .menu-secondaire {
    height: 4.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-start;
    .menu-conteneur li {
      padding-left: 1.6rem;
      &:last-child {
        padding-left: 0;
      }
    }
  }

  .conteneur-menu-contact {
    margin-right: -1.5rem;
  }

  .menu-contact {
    display: flex;
    height: 4.8rem;
    //padding: calc(1.2rem + 2px) calc(1.6rem + 2px);
    padding: 1.2rem 1.6rem;
    padding-right: 3.5rem;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    align-items: center;
    gap: 1.2rem;
    flex-shrink: 0;
    border-radius: 0rem 0rem 0rem 1.6rem;
    background: rgba(0, 0, 0, 0.4);

    &:hover {
      background-color: var(--vert);
    }
  }
  .menu-vous-etes {
    height: 4.8rem;
    display: inline-flex;
    padding: 1.2rem 1.6rem;
    padding-right: 6rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    color: var(--texte) !important;
    border-radius: 0rem 0rem 0rem 1.6rem;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    background: var(--marron1);
    position: relative;
    z-index: 110;

    &:after {
      content: ' ';
      width: 2.8rem;
      height: 2.8rem;
      display: block;
      position: absolute;
      right: 1.6rem;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../images/ico-lien-cible.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .overlay {
      left: 0;
      transition: all .3s;
    }
    &:hover {
      color: white !important;
      background: var(--fond1);

      .overlay {
        opacity: 0.7;
      }
      .container-sous-menu-cible {
        display: block;
      }
    }
  }

  .container-sous-menu-cible {
    display:none;
    position: absolute;
    z-index: 200;
    right: 0;
    top: 0;

    .sous-menu-cible {
      width: 49rem;
      //min-height: 45.2rem;
      border-radius: 0rem 0rem 0rem 8rem;
      border-bottom: 8px solid white;
      border-left: 8px solid white;
      z-index: 110;
      position: relative;
      background-color: var(--marron1);
      padding:4rem 0 2rem 0;

      ul.menu-cibles {
        margin-top:1.6rem;
        li:first-child .lien {
          border-top:1px solid transparent;
        }
        li {
          padding-left:0;
        }
        .lien {
          border-top:1px solid white;
          padding-right: 4rem;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-content: center;
          align-items: center;
        }

        .vignette-cible {
          width: 6.2rem;
          height: 6.2rem;
          aspect-ratio: 1/1;
          border-radius:50%;
          background-color: white;
          margin-right:1.6rem;
        }
      }

      .texte-l {
        color: var(--texte);
        padding-left:4rem;
      }

    }
  }
}

.conteneur-menu {
  color: white;

  &:hover .menu {
    opacity: 1 !important;
  }

  &.prox {
    .sous-menu {
      background-image: url(../images/fd-sous-menu.png),
        linear-gradient(180deg, #01743d 41.87%, #519a74 100%);
    }
    &:hover {
      .menu {
        &:after {
          border-bottom: 0.8rem solid var(--prox);
        }
      }
    }
  }

  &.form {
    .sous-menu {
      min-width: 114.6rem;
      max-width: 100%;
      background-image: url(../images/fd-sous-menu.png),
        linear-gradient(180deg, #712222 41.87%, #925655 100%);
    }
    &:hover {
      .menu {
        &:after {
          border-bottom: 0.8rem solid var(--form);
        }
      }
    }
  }

  &:hover {
    .sous-menu {
      pointer-events: all;
    }
    .menu {
      z-index: 110;
      &:after {
        border-bottom: 0.8rem solid var(--be);
      }
    }
    .overlay {
      opacity: 0.7;
    }
    .conteneur-sous-menu {
      min-height: 600px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  background: #000;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  transition: opacity 0.3s;
}

.menu {
  cursor: pointer;
  position: relative;
  padding-bottom: 1.1rem;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: -0.8rem;
    left: 0;
    height: 10px;
    width: 100%;
  }
}

.conteneur-sous-menu {
  z-index: 105;
  margin-top: 0.8rem;
  position: absolute;
  overflow: hidden;
  transition: all 0.3s;
  left: 0;
  right: 0;
  height: 0px;
  pointer-events: none;

  .sous-menu {
    padding: 9rem 7rem;
    border-radius: 0rem 0rem 0rem 8rem;
    position: absolute;
    pointer-events: none;
    right: 0;
    width: 55%;
    top: 1rem;
    min-width: 84rem;
    height: 52rem;
    z-index: 110;
    background-image: url(../images/fd-sous-menu.png),
      linear-gradient(180deg, #00506a 41.87%, #367386 100%);
    background-position: top left, top center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    .texte-s {
      font-weight: 600;
    }
    .formation-certifiante {
      color: var(--texte2);
      font-size: 1.1rem;
    }

    .titre-l,
    .texte-m {
      color: var(--texte2);
      margin-bottom: 1.6rem;
    }

    ul {
      margin-left: 6rem;
      li {
        padding-left: 0;
        width: 100%;
        a {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-content: center;
          align-items: center;

          img {
            display: block;
            margin-left: 2rem;
          }

          div {
            flex: 1 1 auto;
          }
        }
      }
      li:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        margin-bottom: 1.6rem;
        padding-bottom: 1.6rem;
      }
    }
  }
}

.container-chemin a,
.menu-roll {
  position: relative;
  display: inline-block;
  &:after {
    content: ' ';
    display: block;
    transition: all 0.2s;
    width: 0;
    height: 0.2rem;
    border-radius: 4rem;
    background: var(--vert);
    margin-top: 0.8rem;
  }

  &:hover,
  &.is-active {
    &:after {
      width: 100%;
    }
  }
}

body.bureau-detudes {
  .conteneur-menu.prox,
  .conteneur-menu.form {
    .menu {
      opacity: 0.5;
    }
  }
}

body.compostage-de-proximite {
  .conteneur-menu.be,
  .conteneur-menu.form {
    .menu {
      opacity: 0.5;
    }
  }
}

body.formations-animations {
  .conteneur-menu.be,
  .conteneur-menu.prox {
    .menu {
      opacity: 0.5;
    }
  }
}



ul.menu-cibles {
  padding-left: 0;
  padding-top: 1.6rem;

  li {
    list-style: none;
  
    display: block;
  
    a {
      color: var(--be);
      text-decoration: none;
      position: relative;
      display: block;
      cursor:pointer !important;

      .lien {
        padding: 1.6rem 0;
        margin: 0 4rem;
        border-top: 1px solid #c5bdb4;
      }
      p {
        margin: 0;
      }
      &:after {
        content: ' ';
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        display: block;
        position: absolute;
        right: 4rem;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../images/ico-lien-cible.svg);
  
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  
    &:hover {
  
      + li {
        .lien {
          border-top:1px solid var(--marron1) !important;
        }
      }
      a {
        color: white;
        background-color: var(--vert);
        &:after {
          background-color: white;
          background-image: url(../images/ico-fleche-noire.svg);
        }
        .lien {
          border-top: 1px solid var(--vert) !important;
        }
      }
    }
  
  }
}
