/* COULEURS */
:root {
  --texte: #201202;
  --texte2:#C5BDB4;
  --bs-heading-color: #201202;

  --vert: #bdc700;
  --fond1: #c5bdb4;
  --fond2: #eae7e4;

  --be: #00506a;
  --prox: #01743D;
  --form: #712222;

  --marron1: #eae7e4;
  --marron2: #3F2204;
}

// Marges

:root {
  --margin: 4.8rem;
  --gutter: calc(4.8rem / 2);
}

@media (min-width: 768px) {
  :root {
    --margin: 12rem;
    --gutter: calc(3.2rem / 2);
  }
}

@media (min-width: 1024px) {
  :root {
    --margin: 6rem;
    --gutter: calc(3.2rem / 2);
  }
}

@media (min-width: 1200px) {
  :root {
    --margin: 10rem;
    --gutter: calc(3.2rem / 2);
  }
}


@media (min-width: 1400px) {
  :root {
    --margin: 16rem;
    --gutter: calc(3.2rem / 2);
  }
}

// Filtres
:root {
  --filtre-photos: linear-gradient(289deg, #bcc602 24.81%, #00506a 90.42%);
}

